<div class="container">


  <header class="pageHeader">
    <h3>404 Page not found <i class="fa fa-exclamation-circle fa-lg page-caption" aria-hidden="true"></i>  </h3>
  </header>

  <div [@fadeInOut] class="d-flex h-75">
    <div class="m-auto">
      <!--<div class="icon-container"> 404<i class='fa fa-exclamation-circle'></i> </div>-->
      <div class="text-muted error-description">
        Pagina não encontrada
        <strong *ngIf="path">
          {{ path }}"
        </strong>

      </div>
      <div><a class="btn btn-primary" routerLink="/"><i class='fa fa-home'></i> Home </a></div>
    </div>
  </div>
</div>
