﻿@page
@model WebAPIJogo.Presentation.Web.ManagerGame.Pages.Home.Emprestimo.LendModel
@{
    ViewData["Title"] = "Lend";
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title> @ViewData["Title"]</title>

</head>
<body>

    <div class="jumbotron subMenu">
        <div class="row">
            <div class="col-md-8">
                <input name="hddIdJogo" id="hddIdJogo" type="hidden" />
                <h1>@Model.Emprestimo.JogoDTO.Name</h1>
                <p class="lead text-black-50">Categoria: @Model.Emprestimo.JogoDTO.Categoria </p>
            </div>
            <div class="col-md-4">
                <form method="post" role="form" class="form-horizontal">
                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-5">
                            <button class="btn btn-lg btn-primary btn-block" asp-page-handler="LogOff">Voltar</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>

    </div>


    <div class="row">
        <div class="col-sm-6 col-md-4 col-md-offset-4">
            <div class="container jumbotron w-100">
                <fieldset>
                    <legend> Registrar emprestimo</legend>

                    <form method="post">

                        <label> Amigos:</label>
                        <span asp-validation-for="Emprestimo.AmigoDTO.Id" class="text-danger"></span>
                        <select asp-for="Emprestimo.AmigoDTO.Id" asp-items="@(new SelectList(Model.Amigos,"Id","Nome"));" class="form-control"></select>
                        @Html.LabelFor(model => model.Emprestimo.DataEmprestimo)
                        @Html.EditorFor(model => model.Emprestimo.DataEmprestimo, new { @readonly = "readonly" })
                        @Html.ValidationMessageFor(model => model.Emprestimo.DataEmprestimo)<br />

                        @Html.LabelFor(model => model.Emprestimo.DataDevolucao)
                        @Html.EditorFor(model => model.Emprestimo.DataDevolucao)
                        @Html.ValidationMessageFor(model => model.Emprestimo.DataDevolucao)<br />
                        <button class="btn btn-md btn-primary " type="submit" asp-page-handler="CreateEmprestimo">Registrar</button>
                    </form>
                </fieldset>
                <div asp-validation-summary="All" class="text-danger"></div>
            </div>
        </div>
    </div>
</body>
</html>



