
  <img (click)="onInsert()" *ngIf="(method == 'loan') && (friend_obj && this.game_obj)" class="icon" src="./../../../assets/icons/east-24px.svg"  width="25" alt="Kiwi standing on oval">
  <div *ngIf="(method == 'loan') && error" class="error">
    <p>Esse jogo já está emprestado!</p>
  </div>

  <img *ngIf="method == 'return'" class="icon" src="./../../../assets/icons/west-24px.svg"  width="25" alt="Kiwi standing on oval">

  <div class="card">

    <div *ngIf="method == 'content'" class="itemns">
      <h3>Jogos Emprestados
        <img (click)="alterMode()" style="cursor: pointer;" src="./../../../assets/icons/assignment-24px.svg"  width="25" alt="Kiwi standing on oval">
      </h3>

      <div *ngIf="!mode">
        <div  class="icons">
          <img (click)="onReturn()" *ngIf="selected" class="icon" src="./../../../assets/icons/west-24px.svg"  width="25" alt="Kiwi standing on oval">
          <img *ngIf="selected" (click)="closeSelected()" class="icon" src="./../../../assets/icons/close-24px.svg"  width="25" alt="Kiwi standing on oval">
        </div>

        <span (click)="select(loan)" *ngFor="let loan of loansList" [ngClass]="{'selected':loan.id === selected, 'button1':loan.id != selected,'block':loan.entregue === true}" class="button button1">
          {{ loan.jogoDTO.name }}
        </span>
      </div>
      <div class="table" *ngIf="mode">
        <table id="customers">
          <tr>
            <th>Jogo</th>
            <th>Amigo</th>
            <th>Data de Emprestimo</th>
            <th>Data de Devolução</th>
            <th>Entregue</th>
          </tr>

          <tr *ngFor="let loan of loansList">
            <td>{{ loan.jogoDTO.name }}</td>
            <td>{{ loan.amigoDTO.nome }}</td>
            <td>{{ date(loan.dataEmprestimo) }}</td>
            <td>{{ date(loan.dataDevolucao) }}</td>
            <td>
              <div *ngIf="loan.entregue">Sim</div>
              <div *ngIf="!loan.entregue">Não</div>
            </td>
          </tr>

        </table>
      </div>
    </div>
  </div>
