.container{
  margin: 0;
  padding: 0;
}

.content{
  width: 100%;
  float: left;
  border-top: 2px solid #f1f1f1;

}
.footer{
  position: relative;
}
section:after {
  content: "";
  display: table;
  clear: both;
}
