<div class="container">

  <section>
    <div class="header">
      <Header></Header>
    </div>
  </section>
  <section>

    <div class="content">

      <Games></Games>

      <Friends></Friends>

    </div>
    <div class="content">

      <Loans method="content"></Loans>

    </div>
  </section>

  <section>
    <div class="footer">
      <Footer></Footer>
    </div>
  </section>

</div>

