<div class="card">

  <form *ngIf="add" [formGroup]="gamesForm" (ngSubmit)="onInsert()">
    <label>Nome do Jogo</label>
    <input formControlName="name" type="text" name="name">
    <button class="btn">Inserir</button>
    <button class="btn" (click)="add = false">Cancelar</button>
  </form>

  <form *ngIf="edit" [formGroup]="gamesForm" (ngSubmit)="onEdit()">
    <label>Nome do Jogo</label>
    <input [(ngModel)]="objSelected.name" formControlName="name" type="text" name="name">
    <button class="btn">Editar</button>
    <button class="btn" (click)="edit = false">Cancelar</button>
  </form>


  <h3>
    Jogos
  </h3>

  <div class="icons">
    <img *ngIf="selected" (click)="closeSelected()" class="icon" src="./../../../assets/icons/close-24px.svg" width="25" alt="Kiwi standing on oval">

    <img (click)="add = true" src="./../../../assets/icons/add-24px.svg" class="icon" width="30" alt="Kiwi standing on oval">

    <img *ngIf="selected" (click)="onDelete(selected)" class="icon" src="./../../../assets/icons/delete-24px.svg" width="25" alt="Kiwi standing on oval">
    <img *ngIf="selected" (click)="edit = true" class="icon" src="./../../../assets/icons/create-black-18dp.svg" width="25" alt="Kiwi standing on oval">

    <Loans method="loan"></Loans>


  </div>
  <div *ngIf="error" class="error">
    <p>Seu acesso nao permite essa ação!</p>
  </div>

  <!--<div *ngIf="(!friend_id) || (friend_id && selected)" class="itemns">-->
  <div *ngIf="gamesList" class="itemns">

    <span (click)="select(game)" *ngFor="let game of gamesList" [ngClass]="{'selected':game.id === selected,'button1':game.id != selected, 'disabled':!game.disponivel}" class="button button1">
      {{ game.name }}
    </span>
  </div>



</div>
