﻿@page
@model WebAPIJogo.Presentation.Web.ManagerGame.Pages.Admin.IndexModel
@{
    ViewBag.Title = "Home";
}

<style>
    .w-100 {
        height: 500px !important;
    }

    table {
        width: 100%;
        display: block;
    }

    thead {
        display: inline-block;
        width: auto;
        height: 20px;
    }

    tbody {
        height: auto;
        display: inline-block;
        width: auto;
        overflow: auto;
    }

    .subMenu {
        height: 150px !important;
    }

    fieldset {
        border: 1px solid #ddd !important;
        margin: 0;
        xmin-width: 0;
        padding: 10px;
        position: relative;
        border-radius: 4px;
        background-color: transparent;
        padding-left: 10px !important;
    }

    legend {
        font-size: 14px;
        font-weight: bold;
        margin-bottom: 0px;
        width: 35%;
        border: 1px solid #ddd;
        border-radius: 4px;
        padding: 5px 5px 5px 10px;
        background-color: #cacaca;
    }
</style>

<div class="jumbotron subMenu">

    <div class="row">
        <div class="col-md-8">
            <h1>Game Manager</h1>
            <p class="lead text-black-50">Olá, "@User.Identity.Name" - seu perfil de acesso é: @Model.PerfilAcesso  </p>
        </div>
        <div class="col-md-4">
            <form method="post" role="form" class="form-horizontal">
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <button class="btn btn-lg btn-primary btn-block" asp-page-handler="LogOff">Log Off</button>
                    </div>
                </div>
            </form>
        </div>
    </div>

</div>




@*//table jogos/amigos*@
<div class="row">
    <div class="col-md-12">
        <div class="row">
            <div class="col-md-6">
                @* amigos  *@
                <div class="container jumbotron w-100  h-100">
                    <p>
                        <a asp-page="Jogo/Create">Add Jogo</a>
                    </p>
                    @if (Model.Jogos == null || Model.Jogos.Count == 0)
                    {
                        <div class="alert-info">Nenhum jogo cadastrado</div>
                    }
                    else
                    {
                        <table class="table table-hover table-responsive table-light table-bordered table-striped pre-scrollable w-100">
                            <tr>
                                <th>Id</th>
                                <th>Name</th>
                                <th>Categoria</th>
                                <th>Disponivel</th>
                                <th>Ativo</th>
                                <th>Ações</th>
                            </tr>
                            @foreach (var item in Model.Jogos)
                            {
                                <tr>
                                    <td>@item.Id</td>
                                    <td>@item.Name</td>
                                    <td>@item.Categoria</td>
                                    <td>@(item.Disponivel ? "Liberado" : "Emprestado")</td>
                                    <td>@(item.Ativo ? "Ativo" : "Desativado")</td>
                                    <td>
                                        <a asp-page="Emprestimo/Lend" asp-route-id="@item.Id">Emprestar</a> | @* <======= desabilitar botao disponivel foi falso*@
                                        <a asp-page="Jogo/Edit" asp-route-id="@item.Id">Alterar</a> |
                                        <a asp-page-handler="deleteJogo" asp-route-id="@item.Id">Excluir</a>
                                    </td>
                                </tr>
                            }
                        </table>
                    }
                </div>
            </div>
            <div class="col-md-6">
                @* jogos  *@
                <div class="container jumbotron w-100  h-100">



                    <p>
                        <a asp-page="Amigo/Create">Add Amigo</a>
                    </p>
                    @if (Model.Amigos == null || Model.Amigos.Count == 0)
                    {
                        <div class="alert-info">Nenhum amigo cadastrado</div>
                    }
                    else
                    {
                        <table class="table table-hover table-responsive table-light table-bordered table-striped pre-scrollable ">
                            <tr>
                                <th>Id</th>
                                <th>Name</th>
                                <th>Ações</th>
                            </tr>
                            @foreach (var item in Model.Amigos)
                            {
                                <tr>
                                    <td>@item.Id</td>
                                    <td>@item.Nome</td>
                                    <td>
                                        <a asp-page="Amigo/Edit" asp-route-id="@item.Id">Alterar</a> |
                                        <a asp-page-handler="deleteAmigo" asp-route-id="@item.Id">Excluir</a>
                                    </td>
                                </tr>
                            }
                        </table>
                    }
                </div>
            </div>
        </div>
    </div>
</div>


@*table emprestimo*@
<div class="row">
    <div class="col-md-12">
        <div class="container-fluid jumbotron" style="width:100%">

            <fieldset>
                <legend> Gerenciador emprestimos</legend>

                @if (Model.Emprestimos == null || Model.Emprestimos.Count == 0)
                {
                    <div class="alert-info">Nenhum emprestimo realizado ate o momento</div>
                }
                else
                {
                    <table id="example" class="table table-hover table-responsive table-light table-bordered table-striped pre-scrollable">

                        <tr>
                            <th>Id</th>
                            <th>Jogo</th>
                            <th>Amigo</th>
                            <th>DataEmprestimo</th>
                            <th>DataDevolucao</th>
                            <th>DataEntrega</th>
                            <th>Entregue</th>
                            <th>Situação</th>
                            <th>Ações</th>
                        </tr>

                        @foreach (var item in Model.Emprestimos)
                        {


                            var situacao = item.Entregue ? item.DataEntrega.Year < item.DataEmprestimo.Year ? "Cancelado" : "Entregue" : "Pendente";
                            <tr>
                                <td>@item.Id</td>
                                <td>@item.JogoDTO.Name</td>
                                <td>@item.AmigoDTO.Nome</td>
                                <td>@item.DataEmprestimo.ToShortDateString()</td>
                                <td>@item.DataDevolucao.ToShortDateString()</td>
                                <td>@item.DataEntrega.ToShortDateString()</td>
                                <td>@(item.Entregue ? "sim" : "não")</td>
                                <td> @(situacao) </td>

                                <td>
                                    <a asp-page-handler="ReceiveEmprestimo" asp-route-id="@item.Id">Receber</a> |
                                    <a asp-page-handler="CancelEmprestimo" asp-route-id="@item.Id">Cancelar</a>
                                </td>

                            </tr>
                        }
                    </table>
                }
            </fieldset>
        </div>
    </div>
</div>


