<div class="card">
  <form *ngIf="add" [formGroup]="friendForm" (ngSubmit)="onInsert()">
    <label>Nome do Amigo</label>
    <input formControlName="nome" type="text" name="nome">
    <button class="btn">Inserir</button>
    <button class="btn" (click)="add = false">Cancelar</button>
  </form>
  <form *ngIf="edit" [formGroup]="friendForm" (ngSubmit)="onEdit()">
    <label>Nome do Amigo</label>

    <input [(ngModel)]="objSelected.nome" formControlName="nome" type="text" name="nome">

    <button class="btn" >Editar</button>
    <button class="btn" (click)="edit = false">Cancelar</button>
  </form>
  <h3>
    Amigos

  </h3>

    <div class="icons">
      <img class="icon" (click)="add = true" src="./../../../assets/icons/add-24px.svg"  width="30" alt="Kiwi standing on oval">
      <img *ngIf="selected" (click)="onDelete(selected)" class="icon" src="./../../../assets/icons/delete-24px.svg"  width="25" alt="Kiwi standing on oval">
      <img *ngIf="selected" (click)="edit = true" class="icon" src="./../../../assets/icons/create-black-18dp.svg"  width="25" alt="Kiwi standing on oval">
      <img *ngIf="selected" (click)="closeSelected()" class="icon" src="./../../../assets/icons/close-24px.svg"  width="25" alt="Kiwi standing on oval">
    </div>
    <div *ngIf="error"class="error">
      <p>Seu acesso nao permite essa ação!</p>
    </div>
    <div class="itemns" >
      <span  *ngFor="let friend of friendsList" class="button button1" [id]="friend.id" (click)="select(friend)" [ngClass]="{'selected':friend.id === selected,'button1':friend.id != selected}">
        {{ friend.nome }}
      </span>
    </div>


</div>


<!--<p (pointerleave)="style={}" (mouseover)="geek=true" ng-init="geek=false" >teste</p>-->
