.card{
  width: 40%;
  text-align: center;
  float: left;
  margin: 20px;

}
#customers {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }

  #customers td, #customers th {
    border: 1px solid #ddd;
    padding: 8px;
  }

  #customers tr:nth-child(even){background-color: #f2f2f2;}

  #customers tr:hover {background-color: #ddd;}

  #customers th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #4CAF50;
    color: white;
  }

  form {
    padding: 20px;
    border: 3px solid #f1f1f1;
}
input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
  }
  .btn{
    width: 40%;
    background-color: #1976d2;
    color: white;
    padding: 14px 20px;
    margin: 8px;
    border: none;
    cursor: pointer;

}
  .button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    transition-duration: 0.4s;
  }

  .button1 {
    background-color: white;
    color: black;
    border: 2px solid #4CAF50;

  }
  .button1:hover {
    background-color: #4CAF50; /* Green */
    color: white;
  }
  .button2 {
    background-color: white;
    color: black;
    border: 2px solid #008CBA;
  }

.icons{
  width: 100%;
}
.icon{
 cursor: pointer;
 margin: 10px;
}
.itemns {
  width: 100%;
}
.selected {
  background-color: #008CBA;
  color: white;
  border: 2px solid #008CBA;
}
.error{
  background-color: #f8d7da;
  height: 30px;
  border-radius: 10%;
  text-align: center;
  margin: 10px;
  justify-content: center;
}
.error p {
  position: relative;
  top: 25%;
}
