﻿@page
@model WebAPIJogo.Presentation.Web.ManagerGame.Pages.Home.Amigo.EditModel
@{
    ViewData["Title"] = "Editar amigo";
}
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers



<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title> @ViewData["Title"]</title>

</head>
<body>











    <div class="row">
        <div class="col-sm-6 col-md-4 col-md-offset-4">
            <div class="container jumbotron w-100">
                <fieldset>
                    <legend> Alterar amigo</legend>

                    <form method="post">



                        <input type="hidden" asp-for="Amigo.Id" />



                        <label> Nome:</label>
                        <input type="text" class="text-uppercase" asp-for="Amigo.Nome" /><br />




                        <div class="text-right" style="margin-top:10%;margin-bottom:10%;">
                            <a class="btn btn-md btn-primary " type="button" asp-page="../Index"> Voltar</a>
                            <button class="btn btn-md btn-primary " type="submit" asp-page-handler="OnPost">Atualizar</button>
                        </div>
                    </form>
                </fieldset>
                <div asp-validation-summary="All" class="text-danger"></div>
            </div>
        </div>
    </div>
</body>
</html>


<!-- /.row -->
