.card{
  width: 100%;
  background-color: #f1f1f1;
  height: 100%;
}
.nav{
  width: 100%;
  align-items: center;
  text-align: center;
}

ul {
  width: 100%;
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 200px;
  background-color: #f1f1f1;
  margin: 0 auto;
}
li{
  width: 100%;
}
li a {
  display: block;
  color: #000;
  padding: 8px 16px;
  text-decoration: none;
}

li a.active {
  background-color: #4CAF50;
  color: white;
}

li a:hover:not(.active) {
  background-color: #555;
  color: white;
}
.profile{
  width: 100%;

}
.profile a{
  margin: 0 auto;
}
img{
  border-radius: 50%;
  width: 150px;
  height: 150px;
  margin: 0;
  padding: 0;
}
/*

.btn {
  border-radius: 4px;
  border: 1px solid #eee;
  background-color: #fafafa;
  height: 40px;
  width: 200px;
  margin: 0 8px 16px;
  padding: 16px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  transition: all 0.2s ease-in-out;
  line-height: 24px;
}
.btn.btn-small {
  height: 16px;
  width: 168px;
}*/
