<div class="card">
  <div class="profile">
    <a aria-label="User Profile" target="_blank" rel="noopener" title="User" >
      <figure>
        <img  src="./../../assets/photo.png">
        <h4>Olá usuario </h4>
      </figure>
      </a>
  </div>
  <div class="nav">
    <ul>
      <li><a class="btn btn-small" href="#home">Home</a></li>
      <li><a class="btn btn-small" href="#news">Amigos e Jogos</a></li>
      <li><a class="btn btn-small" href="#contact">Relação</a></li>
      <li><a class="btn btn-small" href="#about">Sair</a></li>
    </ul>
  </div>


</div>
