<!-- Header -->
<div class="toolbar" role="banner">

    <h3 class="logo">Gerenciador de Games</h3>


      <div class="spacer"></div>


        <!--<figure *ngIf="profile">
          <img  src="./../../assets/photo.png">
        </figure>-->
        <h4 *ngIf="profile" >Olá {{userInfo.unique_name}} | Nivel de Acesso</h4>
        <button *ngIf="profile" (click)="onLogout()" class="btn">Sair</button>


  </div>
