.toolbar {
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    background-color: #1976d2;
    color: white;
    font-weight: 600;
    margin-bottom: 20px;
  }

img{
  border-radius: 50%;
  width: 45px;
  height: 45px;
  margin: 0;
  padding: 0;
}
.btn{
  width: 10%;
  background-color:  #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px;
  border: none;
  cursor: pointer;

}
figure {

  margin: 0;
  padding: 0;
}
h4{
  margin: 0;
  padding: 0;
}
.logo{
  margin: 15px;
}
.toolbar img {
    margin: 0 16px;
}

.toolbar #twitter-logo {
    height: 40px;
    margin: 0 16px;
}

.spacer {
    flex: 1;
}
