﻿@page
@model PrivacyModel
@{
    ViewData["Title"] = "About";
}





<style>
    body {
        background-color: #1F395F;
    }

    .pageHeader {
        margin-bottom: 30px;
    }

    .reduced-font {
        line-height: 1.4;
    }

    .bg-features {
        border-radius: 0.25rem;
        padding: 0.5rem;
        margin-bottom: 0.5rem;
    }

        .bg-features ul {
            position: relative;
            z-index: 100;
        }

        .bg-features .logo {
            font-size: 200px;
            position: absolute;
            top: 2rem;
            right: 10px;
        }
</style>




<div class="container about-page">



    <header class="pageHeader jumbotron">
        <h5><i class="fa fa-info-circle fa-lg page-caption" aria-hidden="true"></i>About</h5>
        <h3><i class="fa fa-info-circle fa-lg page-caption" aria-hidden="true"></i>GAME MANAGER</h3>
        <div class="row">
            <div class="col-sm-8 col-md-12 col-md-offset-4">
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse float-right">
                    <ul class="navbar-nav flex-grow-1 text-right">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-page="/Index">Voltar</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </header>

    <div class="reduced-font text-white-50">
        <h4>Bem-vindo ao Game Manager</h4>
        <h6> Modelo de projeto de inicialização com gerenciamento de emprestimo de  jogos, amigos e autenticação com roles.</h6>

        <p>
            Este modelo de aplicativo fornece uma maneira rápida e conveniente de criar aplicativos ASP.NET Core 3.1 / Angular 9 / Razor pages / xamarin forms.
            Além de outros serviços úteis para desenvolvimento rápido de aplicativos.
        </p>
        <h5>Este aplicativo consiste em:</h5>
        <ul>
            <li>
                Uma estrutura de projeto API ASP.NET CORE de back-end HTTP RESTful controlador de serviços, para gerenciamento de token com usuário e roles. <a href="https://gamemanager.auth.hcodetecnologia.com.br/swagger/index.html" target="_blank" rel="nofollow">
                    API AUTHENTICATION
                </a>
            </li>
            <li>
                Uma estrutura de projeto API ASP.NET CORE de back-end HTTP RESTful controlador de serviços, para gerenciamento de jogos, amigos e empréstimos com  integração de login, usuário e permissão, <a href="https://gamemanager.api.hcodetecnologia.com.br/swagger/index.html" target="_blank" rel="nofollow">
                    API GERENCIADOR DE JOGOS
                </a>
            </li>
            <li>
                Uma estrutura de projeto Aplicativo Web ASP.NET CORE de front-end com conteudo Razor Pages, com integração de  gerenciamento de jogos, amigos e empréstimos, com autenticação usuário e permissão. <a href="https://managergame.hcodetecnologia.com.br" target="_blank" rel="nofollow">
                    GAME MANAGER RAZOR
                </a>
            </li>
            <li>
                Uma estrutura de projeto Aplicativo Wb  ASP.NET CORE de front-end com conteudo Angular 9, com integração de  gerenciamento de jogos, amigos e empréstimos, com autenticação usuário e permissão.<a href="https://managergame.hcodetecnologia.com.br" target="_blank" rel="nofollow"> GAME MANAGER ANGULAR</a>
            </li>
        </ul>

        <div style="position: relative" class="bg-light bg-features text-dark">
            <h5>Features</h5>
            <ul>
                <li>Framework 3.1 do .Net Core.</li>
                <li>Clean and simple Angular/ASP.NET Core code to serve as a guide</li>
                <li>Clean and simple Razor/ASP.NET Core code to serve as a guide</li>
                <li>Data Access Layer built with the Repository and Unit of Work Pattern</li>
                <li>Code First Database</li>
                <li>A RESTful API Design</li>
                <li>Dialog and Notification Services</li>
                <li>Handling Access Tokens  (Bearer authentication) </li>
                <li>CRUD APIs</li>
                <li>DDD (Domain Driven Design) and IoC</li>
                <li>etc.</li>
            </ul>
            <i class="fa fa-bolt text-white logo"></i>
        </div>

        <div style="position: relative" class="bg-light bg-features text-dark">
            <h5>Technologies</h5>
            <ul>
                <li>Template pages with <a href="https://angular.io" target="_blank" rel="nofollow">Angular 9</a> and <a href="https://www.typescriptlang.org" target="_blank" rel="nofollow">TypeScript</a></li>
                <li>Template pages with <a href="https://www.learnrazorpages.com/" target="_blank" rel="nofollow">Razor pages</a></li>
                <li>RESTful API Backend using <a href="https://docs.microsoft.com/en-us/aspnet/core" target="_blank" rel="nofollow">ASP.NET Core 3.1</a> Web API</li>
                <li>Database using <a href="https://docs.microsoft.com/en-us/ef/core" target="_blank" rel="nofollow">Entity Framework Core</a></li>
                <li>Authentication based on <a href="https://jwt.io/introduction/" target="_blank" rel="nofollow">JSON Web Token (JWT)</a>
                <li>API Documentation using <a href="https://swagger.io" target="_blank" rel="nofollow">Swagger</a></li>
                <li>Client-side built on <a href="https://cli.angular.io" target="_blank" rel="nofollow">Angular CLI</a></li>
                <li>Theming using <a href="https://getbootstrap.com" target="_blank" rel="nofollow">Bootstrap 4</a> with <a href="https://bootswatch.com" target="_blank" rel="nofollow">Bootswatch</a></li>
                <li>Docker compose</li>
            </ul>
            <i class="fa fa-bolt text-white logo"></i>
        </div>
        <h5>
            Instalação
        </h5>
        <ul>
            <li>
                Clone o <a href="https://bitbucket.org/wcaraujo/webapijogo.git" target="_blank" rel="nofollow">git clone https://bitbucket.org/wcaraujo/webapijogo.git</a> e edite com seu editor favorito. e.g. Visual Studio, Visual Studio Code.
            </li>
        </ul>

        <div style="position: relative" class="bg-light bg-features text-dark">
            <h5>Login</h5>
            <ul>
                <li>
                    Username = "batman", Password = "batman", Role = "manager"
                </li>
                <li>
                    Username = "robin", Password = "robin", Role = "employee"
                </li>
            </ul>
        </div>
    </div>
</div>

