<Header></Header>

    <div class="card">
        <div></div>
        <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
            <div class="imgcontainer">
                <img src="https://lh5.googleusercontent.com/-b0-k99FZlyE/AAAAAAAAAAI/AAAAAAAAAAA/eu7opA4byxI/photo.jpg?sz=120" alt="Avatar" class="avatar">
            </div>
            <div *ngIf="error" class="error">
              <p>Usuário e/ou senha inválidos!</p>
            </div>
            <label for="uname"><b>Usuário</b></label>
            <input type="text" formControlName="usuario" name="usuario" placeholder="Username" required>
            <label for="uname"><b>Senha</b></label>
            <input type="password" formControlName="senha" name="senha" placeholder="Senha" required>

            <button>Entrar</button>
        </form>
    </div>
