  .card{
    width: 40%;
    margin: 0 auto;

  }
  form {
    padding: 20px;
    border: 3px solid #f1f1f1;
  }

  .imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
  }

  img.avatar {
    width: 40%;
    border-radius: 50%;
  }

  button {
    background-color: #1976d2;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
  }

  button:hover {
    opacity: 0.8;
  }
  input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
  }
.error{
  background-color: #f8d7da;
  height: 30px;
  border-radius: 10%;
  text-align: center;
  margin: 10px;
  justify-content: center;
}
.error p {
  position: relative;
  top: 25%;
}
